body{
    background-color:aqua;
    overflow-x:hidden;
}
.container{
    box-sizing:border-box;
     margin:40px auto;
   width:500px;
   min-width:300px;
 max-height:max-content;
   background-color:white;  
   border-radius:20px; 
}
.heading{
    font-size:32px;
    color:yellow;
    font-weight:600;
    letter-spacing:1;
    text-align:center;  
    padding:20px 0px;
    background-color:black;
 
   
}
form{
padding:30px;
}
.input{
  
    width:400px;
    height:30px;
  margin:10px 0px;  
}
.submit{
    display:flex;
    justify-content: center;
}
.error{
    width:400px;
    height:100px;
    background-color:rgb(251, 125, 125);
    margin:20px 0px;
    margin:20px auto;
    text-align:center;
    /*   */
    
}
.input:focus{
    outline: none !important;
    border: 2px solid rgb(143, 221, 255)!important;  
    box-shadow: 0 0 10px #719ECE;
    border-radius:5px; 
}
.information{
    background-color:yellow;
    padding: 10px;
    text-align: center;
    font-size: 18px;
      margin-bottom: 20px;
    border-radius:5px;
    transition: 1s ease-in-out;

}
.info{
    font-size:18px;
    padding:10px;
    color:white;
 
}


/* media_query */
@media (max-width:500px) and (min-width: 300px) {
    body{
        background-color:red;
    }
    .container{
   margin:30px auto;
   width:400px;
     padding:9px;
   border-radius:20px; 
   font-size:20px;
}
.input{
  
  width:300px;
  height:60px;
margin:10px 0px;  
}

.error{
    width:300px;
    height:100px;
    background-color:rgb(251, 125, 125);
     margin:20px 20px;
    text-align:center;
    
}

}